<% content_for :content do %>

  <div style="text-align:center;">

		<% if @app.nil? %>

			<h2>Select an App to use Live View</h2>

		<% elsif @app.live_view.present? %>

			<div class="row">
				<div class="col-xs-12">
					<iframe src="<%= @app.live_view %>" style="
					   top: 109px;
					   left: 25px;
					   width: 300px;
					   height: 534px;
					   border: none;
					   border-radius: 3px;
					   box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);">
					</iframe>
				</div>	
			</div>		
					
		<% else %>
			<h2>No Live View available for chosen App</h2>

		<% end %>
	</div>

<% end %>